name: Tests

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - "main"
      - "master"

jobs:
  flowzone:
    name: Flowzone
    uses: ./.github/workflows/flowzone.yml
    secrets: inherit
    with:
      working_directory: ./tests
      required_approving_review_count: 1
      docker_images: ghcr.io/product-os/flowzone,ghcr.io/product-os/flowzone
      balena_slugs: product_os/flowzone
      verbose: true
