name: Tests

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches: [main, master]
  pull_request_target:
    types: [opened, synchronize, closed]
    branches: [main, master]

jobs:
  flowzone:
    name: Flowzone
    if: |
      (github.event.pull_request.head.repo.full_name == github.repository && github.event_name == 'pull_request') ||
      (github.event.pull_request.head.repo.full_name != github.repository && github.event_name == 'pull_request_target')
    uses: ./.github/workflows/flowzone.yml
    secrets: inherit
    with:
      working_directory: ./tests
      docker_images: |
        ghcr.io/product-os/flowzone
      balena_slugs: |
        product_os/flowzone
      cargo_targets: |
        x86_64-unknown-linux-gnu,
        armv7-unknown-linux-gnueabi,
        aarch64-unknown-linux-gnu
